[Unit]
Description=LivePeer Transcoder Service
After=geth.service

# disable start rate limiting, which can result in systemd abandoning 
# a service if it fails to start too many times within the interval. 
# There are good reasons to limit restarts, but we want to disable 
# that for now and possible revisit in the future
StartLimitIntervalSec=0


[Service]
User=ubuntu
Group=ubuntu
SyslogIdentifier=livepeer-transcoder

# raise the open filehandle limit
LimitNOFILE=50000

# location of livepeer binary
WorkingDirectory=/d1/livepeer/bin

# LivePeer runtime args:
#    -datadir, -ipfsPath, -log_dir: use attached vol for all LivePeer data
#    -ethUrl          : connect to our own geth instance
#    -initializeRound : try to initialize the round if necessary
#    -publicIP        : set publicIP to our elastic ip address
#    -gasPrice 0      : rely on the gas oracle to automatically set the price
#    -transcoder      : run as a transcoder
#    -v 6             : run with verbose logging for now

ExecStart=/d1/livepeer/bin/livepeer -datadir /d1/livepeer/.lpData -ipfsPath /d1/livepeer -log_dir /d1/livepeer/logs -ethUrl ws://127.0.0.1:8546 -initializeRound -transcoder -publicIP 35.173.105.24 -gasPrice 0 -v 6

# always attempt to restart the service
Restart=always

# seeking balance between default of attempting restart every 100ms
# which is probably overkill here, and possibly not being available 
# to serve requests if wait too long between attempts
RestartSec=3

[Install]
WantedBy=multi-user.target
