[Unit]
Description=Ethereum go client
After=syslog.target network.target

[Service]
User=ubuntu
Group=ubuntu
Environment=HOME=/d2/geth-data
Type=simple
SyslogIdentifier=geth-client
LimitNOFILE=50000
WorkingDirectory=/d2/geth-data
ExecStart=/usr/bin/geth --config /d2/geth-data/geth-config.toml
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=180
SendSIGKILL=no
Restart=always
RestartSec=20

StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
